.songDetailWrapper{
  display:flex;
  justify-content: start;
  align-items:start;
  margin-top:40px;
  >img{
    display:block;
    width:250px;
    height:250px;
  }
  .descContainer{
    width:890px;
    margin-left:45px;
    padding-top:15px;
   h6{
     line-height:50px;
     font-size:31px;
   }
    p{
      font-size:16px;
      color:#333;
      span{
        color:#31c27c;
        cursor:pointer;
      }
    }
  }
}

.btnPlayAll{
  width:128px;
  line-height:30px;
  outline:none;
  background:#31c27c;
  color:#fff;
  border-radius:5px;
  box-shadow: none;
  text-align:center;
  cursor:pointer;
}
.btnPlayAll:hover{
  background:#2caf6f;
}

.lyricWrapper{
  margin-top:45px;
  margin-bottom:50px;
  p{
    font-size: 20px;
    font-weight: 500;
    margin-right: 10px;
    margin-bottom:10px;
  }
  .iconCopy{
    margin-left:8px;
    font-size:18px;
    color:#666;
    cursor:pointer;
    &:hover{
      color:#31c27c;
    }
  }
  div{
    line-height:26px;

  }
}
