descWrapper{
  dispaly:flex;
  justify-content: start;
  align-items: center;
  >img{
    width:250px;
    height:250px;
  }
  .descContainer{

  }
}

.btnPlayAll{
  width:128px;
  line-height:30px;
  outline:none;
  background:#31c27c;
  color:#fff;
  border-radius:5px;
  box-shadow: none;
  text-align:center;
  cursor:pointer;
}
.btnPlayAll:hover{
  background:#2caf6f;
}
