
.infoWrapper{
  width:100%;
  height:250px;
  margin-top:40px;
  margin-bottom:35px;
  display:flex;
  justify-content: start;
  align-items: center;
}

.infoWrapper>img{
  display:block;
  width:250px;
  height:250px;
  border-radius:50%;
}

.title{
  padding-top:5px;
  padding-bottom:10px;
  display:flex;
  justify-content: start;
  align-items: baseline;
}
.title .name{
  font-size:38px;
  font-weight:bold;
  color:#000;
}
.title span{
  font-size:15px;
  color:#666;
}
.infoContainer{
  margin-left:20px;
  padding-right:30px;
}
.infoContainer>p{
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:2;
  height:40px;
}
.sizeContainer{
  display:flex;
  justify-content: start;
  align-items: baseline;
  font-size:18px;
  color:#000;

}
.sizeContainer>span:hover{
  color:#31c27c;
  cursor:pointer;
}
.size{
  font-size:25px;
  font-weight:400;
  margin-left:10px;
  margin-right:40px;
}
.btnPlayAll{
  margin-top:10px;
  width:160px;
  line-height:38px;
  outline:none;
  box-shadow: none;
  background:#31c27c;
  color:#fff;
  border-radius:5px;
  box-shadow: none;
  text-align:center;
  cursor:pointer;
}
.btnPlayAll:hover{
  background:#2caf6f;
}
.mvWrapper{
  width:100%;
}
.mvContainer{
  display:flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
}
.mvTitle{
  width:100%;
  line-height:50px;
  font-size:30px;
  padding-left:20px;
  border-bottom: 2px solid #31c27c;
  margin-bottom:40px;
}
.mvItemContainer{
  width:230px;
  margin-right:20px;
  margin-bottom:30px;
  cursor: pointer;
}
.mvItemContainer:nth-child(4n){
  margin-right:0;
}
.mvItemContainer img{
  display:block;
  width:100%;
  margin-bottom:20px;
}
.mvItemContainer h6{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size:14px;
  line-height:1.5;
  color:#333;
  margin-bottom:0;
}
.mvItemContainer p{
  font-size:14px;
  color:#999;
}

