.playlistWrapper{
  width:100%;
  height:274px;
  margin: 30px auto;
  .slick-arrow{
    display:none;
  }
  .ant_carousel {
    width: 1200px;
    height: 284px;
    .slick-list{
      height: 284px;
    }
    .playlistItem{
      height:100%;
      padding:0 10px;
      .cover{
        width:100%;
        height:100%;
        position:relative;
        overflow:hidden;
        cursor:pointer;
        >img{
          display:block;
          width:100%;
          height:100%;
          transform: scale(1) translateZ(0);
          transition: transform .75s;
        }
        .mask{
          position:absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
          background:#000;
          opacity: 0;
          transition: opacity .5s;
        }
        .icon_play{
          position:absolute;
          left:50%;
          top:50%;
          width:70px;
          height:70px;
          margin:-35px;
          opacity:0;
          background-image:url('https://y.gtimg.cn/mediastyle/yqq/img/cover_play.png?max_age=2592000&v=88abebcbc1242dbbbbc836cc3e04a006');
          transform: scale(.7) translateZ(0);
          transition-property: opacity,transform;
          transition-duration: .5s;
        }
        &:hover{
          img {
            transform: scale(1.07) translateZ(0);
            transition: transform .75s cubic-bezier(0,1,.75,1);
          }
          .mask{
            opacity:.2;
          }
          .icon_play{
            opacity: .9;
            transform: scale(1) translateZ(0);
            transition-property: opacity,transform;
            transition-duration: .5s;
            cursor: pointer;
          }
        }
      }
      .name{
        max-width: 100%;
        font-weight: 400;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 22px;
        max-height: 44px;
        color:#000;
        margin-top:15px;
        cursor:pointer;
        &:hover{
          color:#31c27c;
        }
      }
      .playcount{
        color: #999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 22px;
      }
    }
  }
}
:global{
    .slick-arrow {
      width:45px;
      height:85px;
      background: rgba(0,0,0,.03);
      &.slick-prev{
        top:40%;
        left:-50px;
      }
      &.slick-next{
        top:40%;
        right:-50px;
      }
      &:hover{
        background:rgba(0,0,0,.04);
      }
    }
  .slick-dots li{
    width:12px;
    height:12px;
    button{
      width:12px;
      height:12px;
      &:before{
          width:12px;
          height:12px;
          opacity:.03;
      }
    }
    &.slick-active{
      button{
        &:before{
          width:12px;
          height:12px;
          opacity:.05;
        }
      }
    }
  }
}

