.listContainer{
  width:580px;
  height:500px;
  overflow:hidden;
  position:absolute;
  bottom:50px;
  left:0;
  background:rgba(0,0,0,.7);
  box-sizing: border-box;

}
.playlistItem{
  height:30px;
  line-height:30px;
  display:flex;
  justify-content: start;
  align-items: center;
  color:#ccc;
}
.playlistItem:hover{
  background:#000;
}
.playlistItem.active{
  background:#000;
}
.songName{
  width:50%;
  box-sizing: border-box;
  padding-left:50px;
}
.arName{
  width:30%;
}
.dt{
  width:20%;
}
