.playlistContainer{
  box-sizing: border-box;
  width:60%;
  height:100%;

}
.listContent{
  width:100%;
  height:423px;
  overflow:hidden;
  overflow-y: scroll;
}
.playlistItem{
  height:50px;
  line-height:50px;
  display:flex;
  justify-content: start;
  align-items: center;
  color:#ccc;
  padding-right:15px;
  position:relative;
}
.itemLine{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: .02;
}
.playingGif{
  position:absolute;
  left:29px;
  top:16px;
  width:14px;
  height:14px;
  z-index:10;
  opacity:0;
}
.number{
  width:50px;
  text-align: right;
  color:rgba(255,255,255,.8);
}
.playingItem .playingGif{
  opacity: 1;
}
.playingItem .number{
  color:rgba(255,255,255,0);
}
.songName{
  width:68%;
  box-sizing: border-box;
  padding-left:8px;
  cursor:pointer;
  text-align:left;
}
.songName:hover{
  color:#31c27c;
  transition: all linear 0.3s;
}
.songName:first-child:hover{
  color:inherit;
  cursor: no-drop;
}
.singerName{
  width:30%;
  padding-left:15px;
}
.dt{
  width:50px;
}
.songName,
.singerName,
.albumName,
.dt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height:50px;
  font-size:14px;
  color:rgba(255,255,255,.8);
}
