.playlistContainer{
  box-sizing: border-box;
  width:600px;
  height:100%;
}
.listContent{
  width:100%;
  height:423px;
  overflow:hidden;
  overflow-y: scroll;
}
.playlistItem{
  height:50px;
  line-height:50px;
  display:flex;
  justify-content: start;
  align-items: center;
  color:#ccc;
  padding-right:15px;
  position:relative;
}
.itemLine{
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: .02;
}
.playlistItem .playingGif{
  position:absolute;
  left:36px;
  top:16px;
  width:14px;
  height:14px;
  z-index:10;
  opacity:0;
}
.number{
  width:50px;
  text-align: right;
  color:rgba(255,255,255,.8);
}
.playingItem .playingGif{
  opacity: 1;
}
.playingItem .number{
  display:inline-flex;
  width:50px;
  color:rgba(255,255,255,0);
}
.songName{
  width:255px;
  box-sizing: border-box;
  padding-left:8px;
  text-align:left;
  position:relative;
  padding-right:5px;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btnContainer{
  width:90px;
  display:flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.btnDel,.btnPlay{
  color:rgba(255,255,255,.6);
  font-size:20px;
  z-index:10;
  cursor:pointer;
  margin:0 5px;
}
.btnDel:hover,.btnPlay:hover{
  color:#fff;
}
.playlistItem:hover .btnContainer{
  visibility: visible;
}
.singerName{
  width:155px;
  padding-left:15px;
  box-sizing: border-box;
  cursor:pointer;
}
.singerName:hover{
  color:#31c27c;
}
.dt{
  width:50px;
}
.songName,
.singerName,
.albumName,
.dt{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height:50px;
  font-size:14px;
  color:rgba(255,255,255,.8);
}
