.lyricWrapper{
  width:40%;
  height:100%;
  overflow:hidden;
}
.songInfoContainer{

}
.albumPic{
  display:block;
  width:180px;
  height:170px;
  margin: 0 auto 15px;
}
.songName,
.singerName,
.albumName{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 28px;
  line-height:24px;
  font-size:14px;
  text-align:center;
  color:rgba(255,255,255,.8);
}
.lyricContainer{
  margin-top:34px;
  height:170px;
  overflow-y: scroll;
  -webkit-mask-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 15%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,.6) 85%,rgba(255,255,255,0) 100%);
}
.lyricItem{
  font-size:14px;
  line-height:34px;
  text-align:center;
  color:#f5f5f5;
  color:rgba(255,255,255,.8);
}
.highlight{
  color:#31c27c;
}
