.navWrapper{
  background:#2c323b;
  width:100%;
  height:55px;
}
.navContainer{
  width:1000px;
  margin:0 auto;
  display:flex;
  justify-content: start;
  align-items: center;
}
.navItem{
  text-align:center;
  padding: 0 30px;
  line-height:55px;
}
.navItem a{
  text-decoration: none;
  color:#fff;
  font-size:18px;
}
.navActive a{
  color:#31c27c;
  font-size:18px;
}
