.wrapper{
  background:rgba(0,0,0,.75);
  position:fixed;
  bottom:0;
  left:0;
  height:75px;
  width:100%;
}

.container{
  position:relative;
  width:980px;
  height:100%;
  margin:0 auto;
  display:flex;
  justify-content: start;
}
.controlContainer{
  width:135px;
  height:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.shangyishou,.xiayishou{
  font-size:30px;
  color:#dfdfdf;
  cursor:pointer;
}
.shangyishou:hover,.xiayishou:hover,.bofang:hover,.zanting:hover{
  color:#fff;
}
.bofang,.zanting{
  font-size:40px;
  color:#dfdfdf;
  cursor:pointer;
}
.durationContainer{
  width:620px;
  height:100%;
  margin-left:21px;
  position:relative;
}
.picWrapper{
  position: absolute;
  left: 0;
  top: 5px;
  width:65px;
  height:65px;
  background: url('../../../assets/imgs/cover.png') no-repeat;
  background-size: contain;
  animation: rotate-animation 20s infinite linear;
}
.pic{
  width:42px;
  height:42px;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-21px;
  margin-top:-20px;

}
@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.songName{
  position:absolute;
  left: 75px;
  top:17px;
  line-height:14px;
  font-size:12px;
  color:#fff;
}
.singerName{
   margin-left:10px;
   color:#9b9b9b;
}
.progressContainer{
  width:530px;
  padding-right:80px;
  box-sizing:border-box;
  position:absolute;
  left:70px;
  top:60%;
  transform:translate(0,-50%);
}
.progress{
  width: 450px;
  margin-top:20px;
}
.dt{
  position:absolute;
  right:0;
  top:60%;
  transform:translate(0,-50%);
  font-size:12px;
  color: #9b9b9b;
}
.volumeContainer{
  margin-left:15px;
  position:relative;
  display:inline-flex;
  height:30px;
  bottom:10px;
}
.shengyin{
  color:#fff;
  font-size:20px;
  cursor:pointer;
  margin-top:32px;
  margin-left:15px;
}
.volBar{
  width:80px;
  margin-top:42px;
  margin-left:8px;
}
.slider{
  height:80px;
  position:absolute;
  top:-90px;
  left:50%;
  transform:translate(-50%,0);
  z-index:100;
}
.loop{
  font-size:20px;
  cursor: pointer;
  color:#fff;
  margin-left:15px;
  margin-top:32px;
}
.listIconWrapper{
  background:#0f0f0f;
  width:52px;
  height:24px;
  border-radius:12px;
  box-sizing: border-box;
  padding-left:25px;
  position:relative;
  margin-left:13px;
  margin-top:34px;
  color:#fff;
  font-size:12px;
  line-height:24px;
  cursor:pointer;
}
.listIconWrapper:hover{
  color:#31c27c;
}
.list{
  position:absolute;
  top:50%;
  left:8px;
  transform:translate(0,-50%);
}
:global .ant-slider-handle{
  border:none;
  width:10px;
  height:10px;
  margin-top:-4px;
}
:global .ant-slider-rail{
  height:2px;
}
:global .ant-slider-track{
  height:2px;
  background-color:#31c27c;
}

